.nav__container {
    display: flex;
    max-width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    align-content: center;
    padding-top: 10px;
    margin-left: 900px;
  }
  
  nav {
   
    padding-top: 30px;
  }
  
  ul {
    display: flex;
    color: #FFBA08;
  }
  
  .link {
    color: #FFBA08;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 30px;
  }
  
  .link:hover {
    color: #DC2F02;
  }
  