@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');


.tips__page-header {
    width: 800px;
    margin: 70px auto;
    border: 1px solid  #0B090A;
    border-radius: 10px;
    padding: 40px ;
}

main h2,h3 {
    font-size: 28px;
    font-family: 'Kalam', cursive;
    color:  #fa008a;
    padding-top: 15px;
    
}
main p {
   color:  #0e0d0d;
   margin-top: 16px;
   font-size: 20px;
   font-family: 'Nunito', sans-serif;
   /* text-indent: 1.5em; */
   
}

 .img-di {
    margin: 20px;
}
span {
    font-weight: bold;
    color: #fa008a;
}

span:hover {
    color: #f6fa00;
    outline-offset: 8px;   
}