button {
    display: inline-block;
    border-radius: 8px;
    background-color:  #fa008a;
    border: none;
    color:  #f6fa00;
    text-align: center;
    font-size: 15px;
    padding: 15px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 7px;
}

button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

button:hover span {
    padding-right: 25px;
}

button:hover span:after {
    opacity: 1;
    right: 0;
}

.btn-span{
    color: #0B090A;
}
