@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital@1&display=swap');

#home__page {
    padding: 2rem;
	width: 100vw;
	height: 100vh;
	background: #0B090A;
	display: flex;
	justify-content: center;
	align-items: center;
}

#home__page .content-wrapper {
	position: relative;
	width: 100%;
	max-width: 1100px;
	height: 100%;
	max-height: 680px;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: space-between;
    background: url('../../assets/logo.svg') no-repeat 80% center;
    background-size: 500px;
}

#home__page .content-wrapper main {
	max-width: 350px;	
}

#home__page .content-wrapper main h1 {
	margin-top: 30px;
	font-size: 100px;
	font-weight: 900;
    line-height: 80px;
	color: #fa008a;
	font-family: 'Kalam', cursive;
}

.content-wrapper main p {
	margin-top: 18px;
	font-size: 18px;
	line-height: 34px;
	color: #fa008a;
	font-family: 'Prompt', sans-serif;
}

.content-wrapper .enter-app {
	font-size: 18px;
	font-family: 'Kalam', cursive;
	position: relative;
	right: 0;
	bottom: 0;
	width: 190px;
	height: 60px;
	background: #fa008a;
	border-radius: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-color 0.2s;
	z-index: 1;


}

.content-wrapper .enter-app:hover {
	animation: brilha 7s linear infinite;
}

@keyframes brilha {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 400%;
    }
}
.content-wrapper .enter-app:before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg, #FA008A, #f441a5, #FF69BF, #FF69BF);
    background-size: 300%;
    border-radius: 30px;
    opacity: 0;
    transition: 0.5s;
  
}
.content-wrapper .enter-app:hover:before {
    filter: blur(10px);
    opacity: 1;
    animation: brilha 7s linear infinite;
}