
  .icone-redes-in , .icone-redes-gi , .icone-redes-em {
	color: #fa008a;
	margin-right: 20px;
	font-size: 30px;
	
}

.icone-redes-in :hover , .icone-redes-gi :hover, .icone-redes-em :hover {

 color: #f6fa00;

}

.footer__wrapper{
	width: 100%;
	display: flex;
	justify-content: center;
}