@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');

  .icone-redes-in , .icone-redes-gi , .icone-redes-em {
	color: #fa008a;
	margin-right: 20px;
	font-size: 30px;
	margin-top: 10px;
}

.icone-redes-in :hover , .icone-redes-gi :hover, .icone-redes-em :hover {
 color: #f6fa00;

}
.autora {
	color: #fa008a;
	font-family: 'Kalam', cursive;
	margin-right: 40px;
	margin-top: 10px;
}
.footer__bio{
	display: flex;
    height: 3rem;
    text-align: center;
    justify-content: center;
    background-color:#0B090A;
    width: 100%; 
}

.footer__wrapper{
	width: 100%;
	display: flex;
	justify-content: center;
}
