@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

li {
    font-size: 15px;
    font-family: 'Nunito', sans-serif;
}

.list__warper {
    padding-top: 50px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
input{
    border: none;
    border-bottom: 2px solid #0B090A;
    width: 400px;
    padding: 20px;
    padding-top: 50px;
    outline: none;
    text-align: center;
    margin-left: 450px;
    justify-content: center;
}
#container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    

}
.card {
    width: 350px;
    margin: 30px;
    align-items: center;
    margin-right: 80px;
    margin-left: 80px;
    padding: 20px;
    border: 1px solid #0B090A;
    border-radius: 8px;
    background-color: #f0efeb;
    
    
}

.card:hover {
    background: #0B090A;
    /* background: #FF69BF; */
	
}