.nav__wrapper{
  display: flex;
  justify-content: space-between;
}

.nav__logo{
  height: 70px;
}

.nav__container {
    display: flex;
    max-width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-content: center;
    padding-top: 10px;
    margin-left: 900px;
  }
  
  nav {
    padding-top: 30px;
  }
  
  ul {
    display: flex;
    color: #fa008a;
   
  }
  
  .link {
    color: #fa008a;
    font-size: 19px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 30px;
   
  }

  .selected-link {
    border-bottom: 1.5px solid #f6fa00;
  }
  
  .link:hover {    
    outline: 1.5px solid #f6fa00;
    outline-offset: 8px;   
  }
  